@import "grid";
@import "topics";
@import "categories";
@import "card";
@import "quotes";

@import "vars";
@import "colors";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#quotr-root {
  margin: 0px 0px 0px 0px;
  animation: fadein 1.5s;
}

body {
  @include body-text-font;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

.brandBanner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-8;
  h1 {
    font-size: calc(2rem + 0.75vw);
    line-height: calc(2rem + 0.75vw);
    font-family: 'Pacifico', cursive !important;
    margin-bottom: 9px;
  }
}
