@import "grid";
@import "topics";
@import "categories";
@import "card";
@import "quotes";
@import "works";
@import "authors";

@import "vars";
@import "colors";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#quotr-root {
  margin: 0px 0px 0px 0px;
  animation: fadein 1.5s;
}

body {
  @include body-text-font;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

.top-left-corner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-8;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  h1 {
    font-size: calc(1.2rem + 0.75vw);
    line-height: calc(1.2rem + 0.75vw);
    font-family: 'Pacifico', cursive !important;
    margin-top: 10px;
  }
  .topics-text {
    width: 100%;
    @include header-font;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $gray-7;
  }
}
