@import "vars";

.card-grid__wrapper {
  height: 100%;
}

.card-grid {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.card {
  // height: 216.31px;
  height: 250px;
  // width: 350px;
  margin: 10px;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  overflow: hidden;
  cursor: pointer;

  &.work {
    height: 300px;
    transition: all $cubic;

    &:hover {
      background-color: $gray-9;
      box-shadow: inset 4px 4px 4px white, 0 0.25rem 1rem rgba(48,55,66,.15);
    }
  }

  &.author {
    height: 200px;
    transition: all $cubic;

    &:hover {
      background-color: $gray-9;
      box-shadow: inset 4px 4px 4px white, 0 0.25rem 1rem rgba(48,55,66,.15);
    }
  }

  .card-body {
    // min-height: 150px;
    // max-height: 300px;
    overflow-y: auto;
    .favorite-star {
      float: left;
      position: sticky;
      top: 0;
      shape-outside: circle(40%);
      background-color: white;
      margin-right: 25px;
      margin-bottom: 5px;
      height: 1.3em;
      width: 1.3em;
      color: $gray-4;
      transition: all .3s $cubic;

      &:hover {
        height: 2em;
        width: 2em;
        color: $yellow-6;
      }

      &.favorited {
        height: 1.6em;
        width: 1.6em;
        color: $yellow-6;

        &:hover {
          height: 1.3em;
          width: 1.3em;
          color: $gray-0;
        }
      }
    }
  }

  .card-footer {
    background-color: $gray-9;
    .quote-author {
      @include header-font;
      text-align: right;
    }
  }
}