@import "vars";

.cardGridWrapper {
  height: 100%;
  border-left: 1px solid $gray-6;
}

.cardGrid {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.card {
  // height: 216.31px;
  // width: 350px;
  margin: 10px;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  overflow: hidden;
  cursor: pointer;

  .card-body {
    min-height: 150px;
    max-height: 300px;
    // height: 100%;
    overflow-y: auto;
    .favorite-star {
      float: left;
      position: sticky;
      top: 0;
      shape-outside: circle(40%);
      margin-right: 25px;
      margin-bottom: 5px;
      height: 1.3em;
      width: 1.3em;
      color: $gray-4;
      transition: all .3s $cubic;

      &:hover {
        height: 2em;
        width: 2em;
        color: $yellow-6;
      }

      &.favorited {
        height: 1.6em;
        width: 1.6em;
        color: $yellow-6;

        &:hover {
          height: 1.3em;
          width: 1.3em;
          color: $gray-0;
        }
      }
    }

    .quote-text {
      @include header-font;
      quotes: "“" "”" "‘" "’";
      line-height: calc(1.3rem + 0.1vw);
      font-size: calc(16px + 0.1vw);
    }
    .quote-text::before {
      content: open-quote;
      @include header-font;
      font-size: 30px;
      color: $gray-7;
      vertical-align: middle;
      margin-right: 2px;
    }
    .quote-text::after {
      content: close-quote;
      @include header-font;
      font-size: 30px;
      color: $gray-7;
      vertical-align: middle;
      margin-left: 2px;
    }
  }

  .card-footer {
    background-color: $gray-9;
    .quote-author {
      @include header-font;
      text-align: right;
    }
  }
}