@import "vars";

.cardGridWrapper {
  height: 100%;
  border-left: 1px solid $gray-6;
}

.cardGrid {
  height: 100%;
  padding: 20px;
  // display: flex;
  // flex-wrap: wrap;
  overflow-y: auto;
}

.card {
  // height: 216.31px;
  // width: 350px;
  min-height: 250px;
  max-height: 300px;
  margin: 10px;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  overflow: hidden;
  cursor: pointer;

  .card-header {
  }

  .card-body {
    height: 100%;
    overflow-y: auto;
    .favorite-star {
      float: left;
      margin-right: 25px;
      height: 1.6em;
      width: 1.6em;

      transition: all .3s $cubic;

      &:hover {
        height: 2em;
        width: 2em;
        color: $gray-6;
      }
    }
  }

  .card-footer {
    background-color: $gray-9;
  }
}
.card.addButton {
  @extend .card;
  border: none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.card.addButton:hover {
  border: 3px dashed $gray-8;

  .circle {
    background-color: $blue-5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
}