@import "vars";

.categories-wrapper {
  display: flex;
  align-items: center;
  background-color: $teal-7;

  .category {
    @include header-font;
    padding: 10px 20px;
    // font-size: 26px;
    font-size: calc(16px + 0.25vw);
    line-height: calc(1.1em + 0.25vw);
    cursor: pointer;

    &:hover {
      background-color: $teal-9;
    }
    &.selected {
      background-color: $teal-5;
      color: $teal-9;
    }
  }

  .searchInput {
    margin-left: auto;
    margin-right: 5px;
    button {
      color: white;
    }
  }
}

.categories-segment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;

  .categories-segment {
    display: flex;
    align-items: center;
    justify-content: center;

    .category {
      @include header-font;
      // font-size: 26px;
      font-size: calc(16px + 0.25vw);
      line-height: calc(1.1em + 0.25vw);
      cursor: pointer;
      user-select: none;
      // background-color: $blue-6;
      border-top: 3px solid $blue-6;
      border-bottom: 3px solid $blue-6;
      color: white;
      // box-shadow: inset 0 -2px 4px $blue-8, inset 0 1px 5px $blue-9;
      background-image: linear-gradient(to top, $blue-7, $blue-6);

      div {
        padding: 10px 20px;
        border-radius: 25px;
        transition: all 0.2s ease;
      }

      &:first-child {
        border-left: 3px solid $blue-6;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }

      &:last-child {
        border-right: 3px solid $blue-6;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }

      &:hover {
        div {
          background-color: $blue-7;
          box-shadow: inset -1px -1px 7px $blue-8;
        }
      }
      &.selected {
        div {
          background-color: white;
          color: $gray-0;
          box-shadow: inset 0 -2px 4px $blue-8, inset -1px 0 2px $blue-8, inset 0 1px 5px $blue-9;
        }
      }
    }

  }

}
