@import "vars";

// Grid layout
.main {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  // grid-template-columns: minmax(auto, 12em) 5fr;
  grid-template-rows: auto 1fr auto;
}

nav {
  grid-area: header;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

main {
  grid-area: main;
  .container {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
  grid-area: footer;
}

.mainWrapper {
  height: 100%;
}

.circle-add-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 60px !important;
  width: 60px !important;
  // border-radius: 50%;

  // background-color: $blue-6;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s $cubic;

  svg {
    color: white;
    height: 1.7em;
    width: 1.7em;
    transition: all 0.3s $cubic;
  }

  &:hover {
    height: 67px !important;
    width: 67px !important;
    svg {
      height: 2.5em;
      width: 2.5em;
    }
  }
}
