@import "vars";

// Grid layout
.main {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  // grid-template-columns: minmax(auto, 12em) 5fr;
  grid-template-rows: auto 1fr auto;
}

nav {
  grid-area: header;
}

main {
  grid-area: main;
  .container {
    height: 100%;
  }
}

footer {
  grid-area: footer;
}

.mainWrapper {
  height: 100%;

  .cardGridWrapper {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .cardGrid {
    padding: 20px;
    border-left: 1px solid $gray-6;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: auto;
  }
}
