@import "vars";

.quote-modal {
  .modal-container {
    height: 90vh;
    max-height: 90vh;
    padding: 0;
    // margin-bottom: calc(100vh / 4);
    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'footer';
    grid-template-rows: auto 1fr auto;
  }
  .modal-header {
    grid-area: header;
    padding: 0.8rem 1.6rem;
    background-color: $blue-6;
    color: white;
    .btn-clear {
      font-weight: bold;
    }
  }
  .modal-title {
    font-weight: bold;
  }
  .modal-body {
    grid-area: main;
    overflow: auto;
    padding: 0.8rem 1.6rem;

    .work-type {
      text-transform: capitalize;
      margin-bottom: 0;
    }
  }
  .modal-footer {
    grid-area: footer;
    padding: 0.8rem 1.6rem;
  }

  .quote-input {
    @include header-font;
    font-size: 18px;
    width: 100%;
    min-height: 50px;
  }

  .quote-footer {
    background-color: $gray-9;
  }
}

q {
  @include header-font;
  quotes: "“" "”" "‘" "’";
  line-height: 1.2rem;
  font-size: 0.9rem;
  // line-height: calc(1.3rem + 0.1vw);
  // font-size: calc(16px + 0.1vw);
}
q::before {
  content: open-quote;
  @include header-font;
  font-size: 30px;
  color: $gray-7;
  vertical-align: middle;
  margin-right: 2px;
}
q::after {
  content: close-quote;
  @include header-font;
  font-size: 30px;
  color: $gray-7;
  vertical-align: middle;
  margin-left: 2px;
}

.quote-list__wrapper {
  height: 100%;
}
.quote-list__header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
}
.quote-list {
  height: calc(100% - 33px - 32px); // 33 = height of h3, 32 = 16+16 top/bottom margins
  overflow: auto;
  list-style-type: none;
  li {
    cursor: pointer;
    padding-bottom: 16px;
    &:hover {
      background-color: $gray-9;
    }
  }
}
