@import "vars";

.topicsSidebar {
  height: 100%;

  .topicsText {
    @include header-font;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $gray-7;
  }

  .topicsList {
    padding: 3px 7px;
  }

  .topic {
    padding: 7px 4px;
    // font-size: 26px;
    font-size: calc(16px + 0.5vw);
    cursor: pointer;
  }
  .topic:hover {
    background-color: $gray-8;
  }
  .topic.selected {
    background-color: $gray-7;
  }
  .topic.selected:hover {
    background-color: $gray-8;
  }
}

.topic-chips-wrapper {
  margin-top: 4px;
  .topic-chip {
    color: white;
  }
}