@import "colors";

// $body-background-color-darkmode: #777;
// $card-background-darkmode: #888;
// $text-darkmode: #eee;
// $secondary-text-darkmode: #ccc;
// $border-color-darkmode: #999;

@mixin header-font {
  font-family: 'IBM Plex Serif', serif !important;
}

@mixin body-text-font {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}
